body {
    margin: 0;
}

* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
    display: none;
}

.toolbar {
    background-color: #333;
    position: fixed;
    width: 100%;
    overflow: hidden;
    text-align: center;
    z-index: 1;
}

.toolbar a {
    display: inline-block;
    color: #f2f2f2;
    padding: 12px 32px;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-family: "Bebas Neue";
}

.toolbar a:hover {
    background-color: #ddd;
    color: black;
}

.toolbar a.active {
    color: orange;
}

.homepage {
    background-image: url(images/cherryblossoms.jpg);
    background-position: center;
    background-size: cover;
}

.about {
    background-color: #333;
}

.project {
    background-color: #ddd;
}

.work {
    background-color: #333;
}

.container {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.container section {
    height: 100vh;
    scroll-snap-align: start;
}

.homepage h2 {
    position: relative;
    top: 150px;
    width: 100%;
    text-align: center;   
}

.homepage h2 span {
    color: white;
    font: bold 100px/normal "opensans-bold", sans-serif;
    text-shadow: rgba(126, 75, 101, 0.9) 0px 0px 22px;
    letter-spacing: -1px;
    padding: 10px;
}

.homepage h3 {
    position: relative;
    top: 120px;
    width: 100%;
    text-align: center;   
}

.homepage h3 span {
    color: white;
    font: bold 35px/normal "opensans-bold", sans-serif;
    text-shadow: rgba(126, 75, 101, 0.9) 0px 0px 22px;
    letter-spacing: -1px;
    padding: 10px;
}

.fa {
    padding: 20px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    transition: transform .2s;
}

.fa:hover {
    color: royalblue;
}

.fa-linkedin {
    color: white;
    position: relative;
    top: 120px;
    left: 500px;
}

.fa-github {
    color: white;
    position: relative;
    top: 120px;
    left: 550px;
}

.fa-google {
    color: white;
    position: relative;
    top: 120px;
    left: 600px;
}

.fa-download {
    color: white;
    position: relative;
    top: 120px;
    left: 650px;
}