.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #c4bfc6;
}

.general {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #c4bfc6;
}

.goBack {
    box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
    position: relative;
    left: 100px;
	text-shadow:0px 1px 0px #810e05;
}

.goBack:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}

.goBack:active {
	position:relative;
	top:1px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    transition: transform .2s;
}

.fa:hover {
    transform: scale(1.2);
}

.fa-linkedin {
    background:#0077b5;
    color: white;
    position: absolute;
    top: 80px;
    left: 250px;
    z-index: 1;
}

.fa-github {
    background:#333;
    color: white;
    position: absolute;
    top: 80px;
    left: 350px;
    z-index: 3;
}

.fa-google {
    background:#DB4437;
    color: white;
    position: absolute;
    top: 80px;
    left: 450px;
    z-index: 5;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    font-family: "Archivo Black";
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    width: 80%;
}

.btn:hover {
    background-color: RoyalBlue;
}

.left {
    left: 0%;
    display: flex;
    justify-content: center;
}

.left img {
    max-width: 100%;
    max-height: 100%;
}

.left h2 {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

h2 span {
    color: white;
    font: bold 32px/45px "Archivo Black";
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.right {
    right: 0%;
    font-family: "Archivo Black";
    font-size: 22px;
    bottom: 0;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 2px #AF8784;
}

.centered img {
    max-width: 100%;
    max-height: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

.gallery > li {
    flex-basis: 350px;
    position: relative;
    cursor: pointer;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery li:hover .overlay{
    transform: scale(1);
}

.gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
    border: 2px solid black;
}